@use '../../scss/' as *;

.cart{
    flex: 1;
    padding:10px;
    z-index: 2;
    &:hover .cart__inner.filter::after{
        opacity: 1;
        transform: rotate(0);
        min-height: 284px;
    }
    &__inner{
        position: relative;
        &.shop{
            display: flex;
            flex-direction: column;

            & > a{
                height:285px;
            }
        }
        &.filter::after{
            content: "";
            position: absolute;
            top: -20%;
            left: -32px;
            width: 344px;
            height: 0;
            // min-height: 284px;
            background-image: url('../../assests/imgs/yum-black.png');
            z-index: -1;
            transform-origin: center center;
            transform: rotate(-30deg);
            opacity: 0;
            transition: opacity 0.2s ease, transform 0.3s linear;
            
        }
    }

}
.img{
    width: 100%;
    height: 100%;
    &.filter{
        padding: 10px 40px;
    }
}

.info{
    margin: 10px 0;
    text-align: center;

    &  .name{
        padding: 5px;
        font-weight: 500;
        font-size: 1.6rem;
        color: $secondary-color;
        text-transform: uppercase;
    }
    &>.price {
        color: $primary-color;
        padding: 5px;
        font-weight: 500;
        font-size: 1.8rem;

       
    }
}

.buttons{
    @include flex(center,center);
    padding-top: 10px;
    overflow: hidden;
    & > .btn-left{
        transition: transform 0.2s ease-out;
        margin-right: 5px;
        transform: translateY(100%);
        opacity: 0.6;
    }
    &>.btn-right {
        transition: transform 0.2s ease-out;
        transition-delay: 0.1s;
        margin-left:  5px;
        transform: translateY(100%);
        opacity: 0.6;
    }
}
.cart:hover{
    cursor: pointer;
}
.cart:hover .btn-left,
.cart:hover .btn-right {
    transform: translateY(-10%);
    opacity: 1;
}

.discount,.type {
    
    position: absolute;
    top: 5%;
    color: $white;
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50%;
    @include flex(center, center);
    &.green {
        background-color: #2e5322;
    }
    &.orange {
        background-color:#ffa323;
    }
    &.filter {
        top: 15%;
    }
}
.type {
    right: 5%;
    &.filter {
        right: 15%;
    }
}
.discount{
    left: 5%;
    &.filter {
        left: 15%;
    }
}


.price{
    &__old{
        margin-right: 10px;
        color: #d3cfaf;
        text-decoration: line-through;
    }
 }