@use '../../scss/' as *;
.menu {
     width: 100%;
     display: grid;
     grid-template-columns: auto auto auto auto;
     gap: 20px;
      @include tablet {
      grid-template-columns: auto auto auto;
          gap: 0px;
      }
 }