@use '../../../scss/' as *;
.header{
    height: $header-height;
    background-color: $white;

    &.shink{
        position: fixed;
        top: 0;
        left: 0;
        height: $header-height;
        width: 100%;
        z-index: 99;
        transition: height .3 ease;
    }
}

.container{
    height:100%;
    width: 100%;
    @include flex(center,space-between);
    padding: 0 $header-padding;

   
}
.logo{
    & > img {
            height: 70px;
            width: auto;
        }
}
.menu{
    @include flex(center, center);
    &-item {
        margin: 0 20px;
        color: $text-color;
        letter-spacing: .1rem;
        font-weight: 500;
        font-size: 1.4rem;
        &:hover{
            cursor: pointer;
        }
    }
}

.cart{
    position: relative;
    @include flex(center,center);
    &__logo{
        margin-right: 5px;
        display: flex;
    }
    &__number{
        height: 15px;
        width: 15px;
        font-size: 1rem;
        @include flex(center,center);
        color: $white;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: -6px;
    }

    &__popper{
        position: absolute;
        top:70px;
        right: 0;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        z-index: 1;
        overflow: hidden;
    }
    &::before{
        content:'';
        width: 100%;
        height: 200%;
        position: absolute;
        top: 100%;
    }
    &:hover > &__popper
    {
        max-height: 100vh;
    }

}

.search {
    @include flex(center, center);
    &__icon{
    @include flex(center, center);
        & > svg{
            height:28px;
            fill: $black;
        }
    }
        &__tab {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $header-height;
            background-color: $white;
            z-index: 10;
            animation: fadeIn .2s linear;
            
            &__inner {
                padding: 0 49px 0 77px;
                height: 100%;
                @include flex(center, space-between);
            }
    
            &__input {
                flex: 1;
                padding: 0 10px;
    
                &>input {
                    border: none;
                    font-size: 1.8rem;
                    color: #858585;
                }
            }
    
            &__close {
    
                font-size: 3rem;
                // color: $white;
    
                &:hover {
                    cursor: pointer;
                    animation: spinner 0.3s linear normal;
                }
    
            }
    
        }
}

.order{
    overflow: hidden;
    flex:1;
}



.open {
    animation: fadeIn .2s linear;
}


@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes fadeIn {
from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.products-text{
    // font-weight: 600;
    color: $black;
}