@use '../../../scss/' as *;
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    background-color: $white;
    &.hide{
        height: 0;
        overflow: hidden;
    }
    &.shrink{
        height: $header-height;
        width: 100%;
        z-index: 99;
        transition: height 0.2s ease;

        @include tablet {
            height: $header-height-tablet;
            
        }
    }

    @include tablet{
        height: $header-height-tablet;
        z-index: 100;
    }
}

.container{
    height:100%;
    width: 100%;
    @include flex(center,space-between);
    padding: 0 $header-padding;

    @include tablet{
        padding: 0;
        margin: 0 auto;
        max-width: $width-tablet;
    }
   
}
.logo{
    & > img {
        height: 70px;
        width: auto;

        @include tablet {
            height: 35px;
        }
    }

}
.menu{
    @include flex(center, center);
    &-item {
        margin: 0 20px;
        color: $text-color;
        letter-spacing: .1rem;
        font-weight: 500;
        font-size: 1.4rem;
        &:hover{
            cursor: pointer;
        }
    }
    @include tablet {
        display: none;
    }
}

.menu-tablet{
    display: none;
    overflow: hidden;
    @include tablet {
        @include flex(center, center);
    }
    &__container{
        
        @include tablet {
            display: block;
            position: absolute;
            height: 100vh;
            width: 50%;
            background: $white;
            z-index: 100;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: transform 0.2s ease-in,opacity 0.2s ease-in;
            opacity: 0;
            &.active{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
    &__inner{
        width: 300px;
        height:100%;
        margin: 0 auto;

        transform: translateX(100%);
        transition: transform 0.2s linear, opacity 0.2s ease-in;
        transition-delay: 0.1s;
        opacity: 0;
        
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    &__close{
        height: $header-height-tablet;
        @include flex(center, end);
        & > span{
            padding: 14px;
            font-size: 3rem;
            font-weight: 200;
            background-color: #f1f1f1;
            border-radius: 50%;
            line-height: 11px;
   
        }
    }
    &__list {
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: .1rem;
    }
    &__item{
        padding: 10px 0;
        border-bottom: 2px dotted $secondary-color;
    }
    &__link{
        color: $black;
    }
}

.cart{
    position: relative;
    @include flex(center,center);
    &__logo{
        margin-right: 5px;
        display: flex;
    }
    &__number{
        height: 15px;
        width: 15px;
        font-size: 1rem;
        @include flex(center,center);
        color: $white;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: -6px;
    }

    &__popper{
        position: absolute;
        top:70px;
        right: 0;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        z-index: 1;
        overflow: hidden;
    }
    &::before{
        content:'';
        width: 100%;
        height: 200%;
        position: absolute;
        top: 100%;
    }
    &:hover > &__popper
    {
        max-height: 100vh;
    }

}

.search {
    @include flex(center, center);
    &__icon{
    @include flex(center, center);
        & > svg{
            height:28px;
            fill: $black;
        }
    }
        &__tab {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $header-height;
            background-color: $white;
            z-index: 10;
            animation: fadeIn .2s linear;
            
            &__inner {
                padding: 0 49px 0 77px;
                height: 100%;
                @include flex(center, space-between);
            }
    
            &__input {
                flex: 1;
                padding: 0 10px;
    
                &>input {
                    border: none;
                    font-size: 1.8rem;
                    color: #858585;
                }
            }
    
            &__close {
    
                font-size: 3rem;
                // color: $white;
    
                &:hover {
                    cursor: pointer;
                    animation: spinner 0.3s linear normal;
                }
    
            }
    
        }
}

.order{
    overflow: hidden;
    flex:1;
}



.open {
    animation: fadeIn .2s linear;
}


@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes fadeIn {
from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.products-text{
    // font-weight: 600;
    color: $black;
}