@use '../../../scss/' as *;

.container{
    margin-right: 50px;
}
.category{
    margin: 20px 0;
}
.title{
    color: $secondary-color;
    font-weight: 500;
    padding-bottom: 20px;
}

.filter{
    border-top: 2px dotted $secondary-color;
    border-bottom: 2px dotted $secondary-color;
    padding: 40px 0;
    margin-bottom: 20px;
}