$black: #2d2d2d;
$white: #fff;
$main-color: #d2401e;
$main-secondary-color: #b7903c;
$txt-color: #B2B2B2;

$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 115px;

$font-family: 'Oswald',sans-serif;