$black: #2d2d2d;
$white: #fff;
$primary-color: #d2401e;
$secondary-color: #b7903c;
$text-color: #303030;


$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 115px;
$header-height-tablet: 69px;
$header-padding: 47px;

$font-family: 'Oswald',sans-serif;

$width-tablet: 768px;