@use '../../../scss/' as *;

.container {
}

.list__cart{
    margin: 40px 0;
    &__container{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 30px;
    }
}
